var settings = {};

settings.numLEDs = 32;
settings.stripeType = "LPD8806"; // choose between "LPD8806", "WS2801" and "none" (web-view only)
settings.spiDevice = "/dev/spidev0.0";
settings.reverseOrder = false;

settings.jenkinsUrl = "http://www.yourCiServer.com"
settings.jenkinsPath = "/view/All/api/json";
settings.jenkinsAuth = {
    user : "user",
    password : "password"
}
settings.jenkinsInterval = 60; // time in seconds between getting new status from jenkins

settings.colors = {
    blue : [0x00, 0xFF, 0x00], // is use green color for a good build
    blue_anime : [0x00, 0x55, 0x00],
    red : [0xFF, 0x00, 0x00],
    red_anime : [0x55, 0x00, 0x00],
    yellow : [0xFF, 0xFF, 0x00],
    yellow_anime : [0xFF, 0xFF, 0x00],

    disabled : [0x55, 0x55, 0x55], // "grey"
    disabled_anime : [0x55, 0x55, 0x55],
    aborted: [0x55, 0x55, 0x55],
    aborted_anime: [0x55, 0x55, 0x55],
    nobuilt: [0x55, 0x55, 0x55],
    nobuilt_anime: [0x55, 0x55, 0x55]
};

module.exports = settings;
